.auth-form-container {
    background-color: lightgoldenrodyellow;
  }
  
   h2 {
    align-self: center;
    margin-bottom: 50px;
    color: rgb(25, 17, 17);
  }
  
  .submit-btn {
    width: 100%;
    height: 50%;
    background: linear-gradient(to left, rgb(67, 67, 177), rgb(244, 158, 158));
    color: black;
    opacity: 0.8;
    transition: all 0.5s;
  }
  
  button.link-btn {
    margin-top: 6%;
    width: 100%;
    height: 50%;
    background: linear-gradient(to left, rgb(67, 67, 177), rgb(244, 158, 158));
    color: black;
    opacity: 0.8;
    transition: all 0.5s;
  }
  