.search {
    width: 100vw;
    /* background-color: black; */
  }
  
  .search .container img {
    /* display: none; */
    width: 50px;
}

.search-box {
      padding-right: 3rem;
    width: 60%;
}
.container{
    display: flex;
    justify-content: space-around;
  }

  button {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    width: 2rem;
    /* height: 1.5rem; */
  }
  