footer {
  background-color: #0f3460;
  color: #f1eaea;
  /* position: fixed; */
  
}
footer .mainbox{
  background-color: #0f3460;
  height: 20vh;
}
footer a {
  color: #fcf3f4;
  font-weight: 800;
}

footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  /* opacity: 1; */
  /* margin-bottom: 20px; */
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  /* opacity: 1; */
}
@media(max-width:400px){
  footer{
    padding-bottom: 20%;
  }
}
/* padding-bottom: ; */